
.contextual-sidebar {
  // border: 3px solid red;
  .other-ideas {
    // border: 2px solid blue;
    margin-bottom: $pad*2;
    .heading {
      @include strong-voice();
      text-transform: uppercase;
      color: $color-dark;
    }
    .message {
      @include standard-voice();
      margin-top: $pad;
    }
    .actions {
      margin-top: $pad;
    }
    @include styled-lists();
    ol {
      margin: $pad 0;
    }
    .link {
      padding: $pad*.5 0;
      text-decoration: underline;
      color: $highlight;
    }
    .button {
      @include button-light();
      margin-top: $pad;
    }
  }

  @media (max-width: 999px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: $pad*6;
    border-top: 2px solid $gray-light;
    padding-top: $pad*2;
    .other-ideas {
      flex-basis: 48%;
    }
  }
  @media (min-width: 1000px) {
    .other-ideas {
      border-top: 6px solid $gray-light;
      padding-top: $pad*2;
      + .other-ideas {
        margin-top: $pad*6;
      }
    }
  }
}
