
.contextual-sidebar {
  // border: 3px solid red;
  .other-ideas {
    // border: 2px solid blue;
    margin-bottom: $pad*2;
    .heading {
      @include strong-voice();
      text-transform: uppercase;
      color: $color;
    }
    .message {
      @include standard-voice();
      margin-top: $pad;
    }
    .actions {
      margin-top: $pad;
    }
    ol {
      margin: $pad 0;
    }
    .link {
      padding: $pad*.5 0;
    }
  }

  @media (max-width: 999px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: $pad*4;
    border-top: 1px solid $gray-light;
    padding-top: $pad*2;
    .other-ideas {
      flex-basis: 48%;
    }
  }
}
