
.faq-card {
  //
  .question {
    position: relative;
    @include medium-voice();
    padding: $pad*2 0;
    cursor: pointer;
    // $note - could(should) - technically be a button... 
    user-select: none;
    padding-right: $pad*3;
    .icon {
      position: absolute;
      top: $pad*2;
      right: 0;
      color: $gray;
      pointer-events: none;
    }
  }
  .answer {
    height: 0;
    padding: 0;
    @include standard-voice();
    overflow: hidden;
    cursor: pointer;
  }
  .button {
    @include button-light();
    margin-top: $pad*2;
  }
  &:not(.open) {
    .answer {
      height: 0;
      padding: 0;
      overflow: hidden;
    }
  }
  &.open {
    .question {
      // user-select: text;
      .icon {
        // background: $gray;
      }
    }
    .answer {
      height: auto;
      padding: $pad 0;
      margin-bottom: $pad*2;
    }
  }
  border-bottom: 4px dotted $gray-light;
}
