.dfsi {
  .footer {
    color: $white;
    background: $fb-aqua-dark;
    position: relative;
    z-index: 2;
    padding: rem-calc(28) rem-calc(20) rem-calc(50) rem-calc(20);

    a {
      color: $white;

      &:hover {
        text-decoration: underline;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      &.menu {
        .current-menu-item>a {

          background: transparent;
          color: $fb-aqua;
          font-weight: bold;


        }
      }
    }

    @include breakpoint(large) {
      padding: rem-calc(55);
    }

    h5 {
      font-size: rem-calc(20);
      color: $fb-aqua-light;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 0;

      @include breakpoint(large) {
        margin-bottom: rem-calc(70);
      }
    }

    .menu {
      text-transform: capitalize;
      font-family: futura-pt, sans-serif;
      font-weight: 400;
      font-size: rem-calc(14);
      margin-bottom: rem-calc(30);

      @include breakpoint(large) {
        margin-bottom: rem-calc(128);
        font-size: rem-calc(16);
      }

      .sub-menu {

        // max width for link in footer, this sucks need to change
        li.menu-item-47 {
          max-width: rem-calc(150);
        }
      }

      .active>a {
        background: transparent;
      }

      >li {
        @include breakpoint(large) {
          margin-right: rem-calc(40);
        }

        a {
          padding: 0 0 rem-calc(15) 0;
        }

        &:first-child {
          width: rem-calc(139);

          @include breakpoint(myphone down) {
            margin-right: 3%;
          }

          @include breakpoint(small only) {
            margin-right: 8%;
          }

          @include breakpoint(large) {
            width: auto;

          }

          a {
            @include breakpoint(large) {
              padding-left: 0;
            }
          }
        }

        &:nth-child(2) {
          width: rem-calc(169);
          margin-bottom: rem-calc(40);

          @include breakpoint(large) {
            width: auto;
            margin-bottom: inherit;
          }
        }

        &:nth-child(3) {
          width: rem-calc(139);

          @include breakpoint(myphone down) {
            margin-right: 3%;
          }

          @include breakpoint(small only) {
            margin-right: 8%;
          }

          @include breakpoint(large) {
            width: auto;

          }
        }

        &:nth-child(4) {
          width: rem-calc(169);

          @include breakpoint(large) {
            width: auto;
          }
        }

        &:last-child {
          @include breakpoint(large) {
            margin-right: 0;
          }
        }
      }
    }

    .social-links {
      text-align: right;

      @include breakpoint(medium down) {
        margin-bottom: rem-calc(50);
      }
    }

    .copyright {
      text-transform: uppercase;

      span {
        display: block;
      }

      @include breakpoint(large) {
        span {
          display: inline;
        }
      }
    }
  }
}