/******************************************************************
	
Stylesheet: Main Stylesheet

Here's where the magic happens. Here is where you import
all of your Sass files so they can compile into one
CSS file. 

******************************************************************/

// Import local Foundation overrides - Don't link to Bower version as it will be overwritten whenever updated
@import "settings";

// Import foundation.scss from vendor files
@import "../../../node_modules/foundation-sites/scss/foundation";

// Import Motion-UI from vendor files
@import "../../../node_modules/motion-ui/src/motion-ui";
@include motion-ui-transitions;
@include motion-ui-animations;

// Select the components you want to use
@include foundation-global-styles;

// Select the grid you would like to use
// @include foundation-grid;
// @include foundation-flex-grid;
@include foundation-xy-grid-classes;

@include foundation-flex-classes;
// @include foundation-typography;
@include foundation-forms;
// @include foundation-button;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;

// Import your custom styles
@import "global/global";
@import "global/type";
@import "global/single-page";

@import "component/date";
@import "component/sidebar";
@import "component/navigation";
@import "component/offcanvas";
@import "component/masthead";
@import "component/services";
@import "component/questions";
@import "component/carriers";
@import "component/clients";
@import "component/team";
@import "component/footer";



//// $temporary - just dropping a few things here - until i sort out what parts of foundation are fighting me
.thing {
  //
}

.main-menu {
  //
  // border: 2px solid orange;
  .menu-item {
    // border: 2px solid blue;
  }
  .menu-item-has-children {
    display: block;
    // border: 2px solid red;
  }
}


//// $reset
@import "resets/meyer-reset";


//// $global
// @import "global/type-patterns";

// $structure
$pad: 10px;
$standard-column-width: 1260px;
$tight-column-width: 1000px;

// $colors
$black: black;
$white: white;
$color: #00b2b2;
$color-dark: #006c6c;
$highlight: #3e89d1;
$highlight-dark: #13212b;
$gray: #d0d0d0;
$gray-light: #f4f4f4;
$gray-dark: #999;

@mixin button-standard() {
  display: inline-block;
  padding: $pad*1.2 $pad*2; // just going on feel
  background: $highlight;
  color: $white;
  min-width: 220px;
  text-align: center;
  width: auto; // for flex parent issues
  @include strong-voice();
  text-transform: uppercase;
  //
  * { // for headings in links
    color: inherit;
    font-family: inherit;
    color: inherit;
  }

  @media (hover:hover) {
    &:hover {
      // background-color: $color;
    }
  }
}

@mixin button-light() {
  @include button-standard();
  background-color: $gray;
  @media (hover:hover) {
    &:hover {
      background-color: $color;
    }
  }
}

@mixin button-ghost() {
  @include button-standard();
  background-color: rgba(0,0,0,.05);
  color: rgba(0,0,0,.3);
  @media (hover:hover) {
    &:hover {
      background-color: rgba(0,0,0,.1);
    }
  }
}

@mixin circle-style() {
  display: block; // just in case...
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

// $basics // custom elements
decorative-image {
  display: block;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}

copy-group {
  display: block;
}

sticky-thing {
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
}



.page-content {
  background: white;
}


// $structure

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-content {
  flex: 1; // & ^ for sticky footer (not in place)
}

.page-section {
  .inner-column {
    width: 98%;
    max-width: $standard-column-width;
    margin-right: auto;
    margin-left: auto;
    padding: $pad;
  }
  a {
    display: block; // $temp - hiding it in here / so we don't break the rest
    cursor: pointer;
    color: inherit;
    text-decoration: none;
  }
  p a, li a {
    display: inline-block;
    text-decoration: underline;
    color: $highlight;
  }
  @media (min-width: 400px) {
    .inner-column {
      width: 96%;
    }
  }
}

.page-section.two-column {
  // border: 1px solid red;
  .inner-column {
    padding-top: $pad*6;
    padding-bottom: $pad*6;
  }
  .primary-content {
    // border: 1px solid blue;
  }
  .alternate-content {
    // border: 1px solid orange;
  }

  @media (min-width: 1000px) {
    .inner-column {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }
    .primary-content {
      flex-basis: 100%;
      padding-right: $pad*4;
    }
    .alternate-content {
      width: 100%;
      max-width: 300px;
      margin-left: $pad*6;
    }
  }
}

@mixin styled-lists() {
  ul, ol {
    margin-top: $pad*3;
    margin-bottom: $pad*3;
    padding-left: 1.2rem;
  }
  ul {
    list-style: initial;
  }
  ol {
    list-style: initial;
  }
}

// $type
.page-section {
  // $temp - hiding it in here / so we don't break the rest
  rich-text-content, .rich-text-content {
    display: block;
    p, li {
      a {
        display: inline-block;
      }
    }
    p {
      @include standard-voice();
      & + p {
        margin-top: $pad;
      }
      + h2 {
        margin-top: $pad*6;
      }
      + h3 {
        margin-top: $pad*4;
      }
      em {
        font-style: italic;
      }
      strong, b {
        font-weight: 700;
      }
    }
    h1 {
      @include extra-loud-voice();
      + p {
        margin-top: $pad*2;
      }
    }
    h2 {
      @include loud-voice();
      + p {
        margin-top: $pad*2;
      }
    }
    h3 {
      @include medium-voice();
      color: $color;
      + p {
        margin-top: $pad*2;
      }
    }
    @include styled-lists();
    ul, ol {
      + h3 {
        margin-top: $pad*4;
      }
    }
    li {
      color: $color;
      @include standard-voice();
      + li {
        margin-top: $pad*1.5;
      }
    }
  }
}


//// $components
@import "component/faq-list";
@import "component/faq-card";
@import "component/team-member-card";
@import "component/service-card";
@import "component/bread-crumbs";
@import "component/social-networks";
@import "component/contextual-sidebar";



//// $modules
@import "modules/page-masthead";
@import "modules/landing-splash";
@import "modules/team-intro";
@import "modules/services-intro";
@import "modules/client-intro";
@import "modules/partners-intro";
@import "modules/why-us-intro";
@import "modules/team-members";
@import "modules/team-member-detail";
@import "modules/simple-visual-break";

@import "modules/blog-index";
@import "modules/service-index";

@import "modules/standard-page-content";
@import "modules/next-steps";

@import "modules/small-screen-menu";
// $temp
.testimo {
  padding: $pad*4 0;
  .header {
    @include medium-voice();
  }
  .source {
    @include strong-voice();
  }
  .full {
    margin-top: $pad;
  }
  .button {
    @include button-standard();
    margin-top: $pad*2;
  }
}

.big {
  @include medium-voice();
}

.page-header {
  background: $color;
  color: $white;
  .inner-column {
    padding-top: $pad*8;
    padding-bottom: $pad*8;
  }
  .page-title {
    @include loud-voice();
  }
  .teaser {
    @include standard-voice();
    margin-top: $pad*2;
  }
}



//// $pages
// @import "pages/our-team";


//// $utilities
// @import "utilities/a11y";

