
.landing-splash {
  background: $color;
  background-image: url(https://images.unsplash.com/photo-1450101499163-c8848c66ca85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80); // $temp - $todo
  background-size: cover;
  background-position: center center;
  .inner-column {
    text-align: center;
  }
  .stuff { // ".content" leaks out from other styles
    padding-top: $pad*4;
    padding-bottom: $pad*4;
  }
  .heading {
    @include extra-loud-voice();
    text-transform: uppercase;
    color: $color;
    padding: $pad*2 0;
  }
  .subheading {
    @include chill-voice();
    text-transform: uppercase;
    color: $white;
    .visually-hidden {
      display: none; // $todo
    }
  }
  .button {
    @include button-standard();
    margin-top: $pad*2;
  }
  @media (min-width: 600px) {
    .stuff {
      padding-top: $pad*8;
      padding-bottom: $pad*8;
    }
  }
  @media (min-width: 900px) {
    .inner-column {
      height: 60vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

flickity-slider, flickity-slide {
  display: block;
}

.landing-splash-slider {
  //
  .inner-column {
    max-width: 100%;
    width: 100%; // override default
    padding: 0;
  }
  flickity-slide {
    width: 100%;
    min-height: 500px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    copy-group {
      text-align: center;
      max-width: $tight-column-width;
      .heading {
        @include loud-voice();
        color: $color;
      }
      .subheading {
        @include medium-voice();
        color: $white;
        margin-top: $pad*2;
      }
      .button {
        margin-top: $pad*2;
      }
    }
  }
  .button {
    @include button-standard();
  }
  .flickity-page-dots {
    bottom: $pad*2;
  }
}

.flickity-fade .flickity-slider {
  -webkit-transform: none !important;
          transform: none !important;
}
.flickity-fade .flickity-slider flickity-slide {
  left: 0 !important;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}
.flickity-fade .flickity-slider flickity-slide.is-selected {
  opacity: 1;
}

// note - might need some 'overlay' alpha block to help read the text
