
.small-screen-menu {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //
  background-color: $gray; // just because the logo is blue and doesn't land.... $todo
  //
  transition: transform .2s ease-in-out, opacity .2s ease-in-out;
  //
  z-index: 20;
  center-position {
    width: 100%;
    max-width: 300px;
    //
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .menu-header {
    @include medium-voice();
    padding: $pad;
  }
  .company-logo {
    max-width: 220px;
  }
  .nav-menu {
    width: 100%;
    max-width: 300px;
  }
  .menu-item {
    @include strong-voice();
    a {
      display: block;
      color: $white;
      text-decoration: none;
      padding: $pad;
    }
    &.active {
      a {
        // border: 2px solid red;
      }
    }
  }
  .menu-toggle {
    cursor: pointer;
    position: fixed;
    top: $pad;
    right: $pad;
    padding: $pad; // for big fingers
    color: $white;
  }
}

// when hidden
.site:not(.site-menu-open) {
  .small-screen-menu {
    opacity: 0;
    pointer-events: none;
    transform: scale(.8);
  }
}
